*{
    margin: 0;
    padding: 0;
}
.container{
    padding: 0;
    margin: 0;
    width:100%;
    height:100vh;
    display: flex;
    padding: 0;
    justify-items: center;
    align-items: center;
}
.svg{
    margin: auto;
}
span{

    display: block;
}