@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    @font-face {
        font-family: 'Poppins', sans-serif;
        src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
    }
    
}
@layer components{
    /*GRADIENTS*/
    .gradient{
        @apply
        bg-gradient-to-tr	
        from-blue-400 to-indigo-600 
    }
    /*TEXT STYLES*/
    .h1{
        @apply
        text-4xl 
        font-semibold 
        md:text-5xl
    }
    .h2{
        @apply
        text-2xl 
        font-medium
        md:text-xl
    }
    .h3{
        @apply 
        text-xl
        font-medium
        md:text-lg
    }
    .h4{
        @apply
        text-lg
        font-medium
        
    }.body-base{
        @apply  
        text-base 
        text-gray-500 
    }
    /*BUTTONS STYLES*/
    .button-nav{
        @apply 
        h-12 w-auto 
        mt-2.5 px-3
        rounded-lg 
        border-2 border-gray-300  
        bg-white  
        text-left
        hover:bg-gray-100 
        focus:bg-gray-100 focus:outline-none 
    }
    .btn-bordered-gray{
        @apply 
        p-2 w-full 
        rounded-lg border border-gray-300
        text-lg focus:outline-none mb-2 focus:ring-2 focus:ring-blue-500 bg-gray-100 focus:bg-blue-100
    }
    .btn-bordered-blue{
        @apply 
        py-2 px-4
        rounded-full 
        border-2 border-blue-800 
        bg-white
        font-medium text-blue-800
        hover:bg-blue-800 hover:text-white hover:shadow-md 	 
        duration-500 transition-colors 
    }
    .btn-primary{
        @apply  
        h-10 max-h-10
        px-4
        bg-blue-800 
        rounded-full  
        font-medium text-white text-base 
        cursor-pointer
        hover:shadow-md hover:bg-blue-900 
        duration-500 transition-colors
    }
    .btn-secondary{
       @apply 
       py-2 px-4
       rounded-full
       bg-gray-900  
       text-white font-medium  
       cursor-pointer 
       hover:shadow-md hover:bg-gray-700  
       duration-500 transition-colors 
    }
    .btn-cta{
      @apply rounded-xl 
      bg-gradient-to-tr from-blue-400 to-indigo-600 
      text-white 
      cursor-pointer
      focus:outline-none  
      transform
      hover:shadow-xl  hover:-translate-y-1
      transition-all duration-500 ease-in-out 
    }
    .btn-save{
        @apply
        my-auto h-10 border-2 flex px-2 rounded-lg 
        border-gray-400 text-gray-500 
        shadow-md 
        hover:shadow-lg 
        hover:border-black 
        hover:text-black 
        focus:outline-none
    }
    /*INPUTS STYLES*/
    .input{
        @apply block 
        w-full
        py-1 px-3 mt-1 
        rounded-md border-2 
        bg-gray-100
        focus:border-white focus:outline-none focus:ring-2 focus:ring-blue-600  
    }
    .input-error{
        @apply 
        block 
        w-full
        py-1 px-3 mt-1
        bg-red-100 
        rounded-md 
        border-2 border-white 
        outline-none ring-2 ring-red-500 ;
    }
    .input-success{
        @apply  
        block 
        px-3 py-1 mt-1 
        w-full
        bg-green-100 
        border-2 border-white  
        rounded-md 
        outline-none 
        ring-2 ring-green-500 ;
    }

    
}

